# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual env ---
.venv/
env/
venv/

# --- IDE / Editor ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs & temporários ---
*.log
*.tmp
*.bak
*.DS_Store
Thumbs.db

# --- Jupyter ---
.ipynb_checkpoints/

# --- Pacotes & build ---
dist/
build/
*.egg-info/

# --- Arquivos de configuração sensíveis ---
.env
.env.*

# --- Dados ---
# Ignora tudo em data
data/**

# Mas mantém a pasta data e suas subpastas
!data/
!data/**/
!data/**/.gitkeep
